region = "us-east-1"
instance_type = "t2.micro"
key_name = "my-keypair"
vpc_cidr = "10.0.0.0/16"
subnet_cidr = "10.0.1.0/24"
my_ip = "123.45.67.89/32"
nginx_instance_count = 1
backend_instance_count = 3
