upstream backend_servers {
    server {{ backend1_private_ip }}:80;
    server {{ backend2_private_ip }}:80;
    server {{ backup_backend_private_ip }}:80 backup;
}

server {
    listen 80;

    location / {
        proxy_pass http://backend_servers;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
